 <div class="row">
 	<div class="col-lg-12" ng-controller="CommonCtrl">		
		<b>Controller:</b>
		<br>
		<pre>{{data | json}}</pre>
	</div>
 </div>

 <div class="row">
 	<div class="col-lg-12" ng-controller="CommonAsCtrl as iq">
		<b>Controller 'as'</b>
		<br>
		<pre>{{iq.data | json}}</pre>
	</div>
 </div>
