<div class="row">
    <div class="col-lg-12" ng-controller="CreateUserCtrl">
        <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal"
            ng-class="{'invalid':!CreateUserForm.$valid}"
            role="form" novalidate ng-submit="createUser()">
        
        <div class="form-group">
            <label id="lbl_firstName" for="firstName" class="col-sm-4 control-label">First Name
            </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" ng-required="true" name="firstName" id="firstName" placeholder="" ng-model="user.firstName">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_lastName" for="lastName" class="col-sm-4 control-label">
                Last Name
            </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="" ng-model="user.lastName">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_age" for="age" class="col-sm-4 control-label">Age</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="age" id="age" ng-model="user.age">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_age" for="active" class="col-sm-4 control-label">            
                Active
            </label>
            <div class="col-sm-8">
                <input type="checkbox" name="active" id="active" ng-model="user.active">
            </div>
            
        </div>

        User model:
        <pre>{{ user | json }}</pre>
        CreateUserForm object:
        <pre>Valid: {{CreateUserForm.$valid}}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" ng-disabled="!CreateUserForm.$valid" class="btn btn-success" id="btn_create">
                    Create User
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

