  <div class="row">
 	<div class="col-lg-12" ng-controller="TreeCtrl">		
		<pre>{{tree | json}}</pre>
		<ul>
		<li>
			{{tree.name}}
		
			<ul ng-include="'node.html'" ng-init="children=tree.children">
			</ul>
		</li>
		</ul>
	</div>
 </div>


<script type="text/ng-template" id="node.html">
    <li ng-repeat="child in children">
      {{child.name}}
      <ul ng-if="children.length != 0" ng-include="'node.html'" ng-init="children=child.children">
      </ul>
    </li>
</script>