
 <div class="row">
 	<div class="col-lg-12" ng-controller="NestedCtrl">
		<h3>Nested samples #1</h3>
		<ul>
			<li ng-repeat="person in persons">
				{{person.firstName}}
			</li>
		</ul>
	</div>
 </div>

<div class="row">
 	<div class="col-lg-12" ng-controller="NestedCtrl">		
 		Svi dijele ovaj tekst? <b>{{commonTxt}}</b>
		<ul>
			<li ng-repeat="person in persons">
				{{person.firstName}}, commonTxt: <b>{{commonTxt}}</b>
				<br>
				<u>Age (person.age):</u>								
				<input ng-model="person.age" type="integer" name="age" value="" />
				<br>
				<u>commonTxt (commonTxt):</u>
				<input ng-model="commonTxt" type="text" name="common" value="" />
				<br>
				<u>Parent ($parent.commonTxt):</u>
				<input ng-model="$parent.commonTxt" type="text" name="common" value="" />
				<br>
				<u>In person (person.commonTxt):</u>
				<input ng-model="person.commonTxt" type="text" name="common" value="" />
			</li>
		</ul>
		<pre>{{ persons | json }}</pre>
	</div>
 </div>

 <div class="row">
 	<div class="col-lg-12" ng-controller="NestedCtrl">		
 		Svi dijele ovaj tekst? <b>{{commonObj | json}}</b>
		<ul>
			<li ng-repeat="person in persons">
				{{person.firstName}}, Common Obj: <b>{{commonObj.text}}</b>
				<br>
				<u>Age (person.age):</u>				
				<input ng-model="person.age" type="integer" name="age" value="" />
				<br>
				<u>CommonObj Txt (commonObj.text):</u>
				<input ng-model="commonObj.text" type="text" name="common" value="" />
				<br>
				<u>Parent ($parent.commonObj.text):</u>
				<input ng-model="$parent.commonObj.text" type="text" name="common" value="" />
				<br>
				<u>In person (person.commonObj.text):</u>
				<input ng-model="person.commonObj.text" type="text" name="common" value="" />
			</li>
		</ul>
		<pre>{{ persons | json }}</pre>
	</div>
 </div>
