  <div class="row">
 	<div class="col-lg-12" ng-controller="NestedCtrl">		
		<ul>
			<li ng-repeat="person in persons">
				<person></person>
			</li>
		</ul>
	</div>
 </div>


 <div class="row">
 	<div class="col-lg-12" ng-controller="NestedCtrl">		
		<persons items="persons">
				<person-inside></person-inside>
		</persons>
	</div>
 </div>