
 <div class="row">
 	<div class="col-lg-12" ng-controller="NestedCtrl">
		<h3>Nested samples #2</h3>
		<div ng-controller="PersonCtrl">
			{{drawPersons(persons)}}
		</div>
		<ul>
			<li ng-repeat="person in persons">
				<div ng-controller="PersonCtrl">
					{{draw(person)}}
				</div>
			</li>
		</ul>
	</div>
 </div>


