<div class="row">
	<div class="col-lg-12" ng-controller="CommonCtrl">
		<b>Underscore sample:</b>
		<ul class="nav">
			<li ng-repeat="person in persons">
				<pre>{{person | json }}</pre>
			</li>
		</ul>
		<b>Plucked names:</b>
		<ul class="nav">
			<li ng-repeat="name in personsNames">
				<pre>{{name}}</pre>
			</li>
		</ul>
		<b>Grouped by age:</b>
		<ul class="nav">
			<li ng-repeat="byAge in groupedByAge">
				<pre>{{byAge | json}}</pre>
			</li>
		</ul>
	</div>
 </div>