
<div class="row" ng-controller="ListUsersCtrl">
    <div class="col-lg-12">        
        <div class="form-group">
            <h3>Users
                <a ng-href="/#/users/create" class="btn btn-primary pull-right" id="btn_user_create">Add User</a>
            </h3>
            <hr>
        </div>
        
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
            <hr>
        </div>

        <table id="user_list" class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usr in users | filter:searchText">
                    <td>
                        {{ usr.firstName }}
                    </td>
                    <td>
                        {{ usr.lastName }}
                    </td>
                    <td>
                        {{ usr.age }}
                    </td>
                </tr>
                <tr ng-hide="users.length">
                    <td colspan="3">
                        <p class="text-center">No Users Found</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h4>Debug:</h4>
        <pre>{{ users | json }}</pre>
    </div>   
</div>
